%select.form-control{ng-model: "vote.stance.position", class: "vote-form__select-position"}
  %option{value: "yes", translate: "vote_form.i_agree"}
  %option{value: "abstain", translate: "vote_form.i_abstain"}
  %option{value: "no", translate: "vote_form.i_disagree"}
  %option{value: "block", translate: "vote_form.i_block"}
