.thread-preview__pie-container
  %pie_chart.thread-preview__pie-canvas{proposal: "proposal", ng-if: "vote()", title: "{{ 'dashboard_page.thread_preview.you_voted' | translate:translationData() }}"}
  %pie_chart.thread-preview__pie-canvas{proposal: "proposal", ng-if: "!vote()", title: "{{ 'dashboard_page.thread_preview.undecided' | translate }}"}

  .thread-preview__position-icon-container
    .thread-preview__position-icon{ng-if: "vote()", class: "thread-preview__position-icon--{{vote().stance.position}} "}
    .thread-preview__undecided-icon{ng-if: "!vote()"}
      %i.fa.fa-question
